// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.span6
			h3 Editar Franquicia
			br
			form(method='post', action='/intranet/franchises/update').form-horizontal
				input(name='franchise_id', type='hidden', value='#{franchise._id}')
				.control-group
					label.control-label Nombre
					input(name='franchise[name]', type='text', value="#{franchise.name}" ,class="required").control
					br
				.control-group
					label.control-label Slug
					input(name='franchise[slug]', type='text', value="#{franchise.slug}" ,class="required").control
					br
				.control-group
					label.control-label Default
					select(name='franchise[is_default]', type='text' ,class="required").control
						option(	value='0', selected=franchise.is_default) no  
						option(	value='1', selected=franchise.is_default) si  
					br
				.control-group
					label.control-label Zona Horaria
					input(name='franchise[timezone]', type='text', value="#{franchise.timezone}" ,class="required").control
				.control-group
					input(type='submit', value='Save').control.btn