// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.span6
		table.table
			tr
				td	name
				td	#{franchise.name}
			tr
				td	slug
				td	#{franchise.slug}
			tr
				td	is_default
				-if (franchise.is_default)
					td SI
				-else
					td NO
			tr
				td	timezone
				td	#{franchise.timezone}
			tr
				td	user_count
				td	#{franchise.user_count}
			tr
				td	subscriber_count
				td	#{franchise.subscriber_count}
			tr
				td	store_count
				td	#{franchise.store_count}
			tr
				td	created
				td	#{franchise.created}
			tr
				td	modified
				td	#{franchise.modified}
		br
		br
		a(href="/intranet/franchises/edit/" + '#{franchise._id}' ).btn Editar