// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.span6
		table.table
			tr
				td	title
				td	#{franchise.name}
			tr
				td	tagline
				td	#{franchise.slug}
			tr
				td	slug
				td	#{franchise.is_default}
			tr
				td	characteristics
				td	#{franchise.timezone}
			tr
				td	conditions
				td	#{franchise.user_count}
			tr
				td	price
				td	#{franchise.subscriber_count}
			tr
				td	special_price
				td	#{franchise.store_count}
			tr
				td	discount
				td	#{franchise.created}
			tr
				td	start_date
				td	#{franchise.modified}