// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.form_container.span5
			form(method='post', action='/franchisors/update' ).form-horizontal
				input(name='franchisor_id', type='hidden', value='#{franchisor._id}',class="required") 
				.control-group
					label.control-label name
					input(name='franchisor[name]', type='text', value='#{franchisor.name}',class="required").control
				hr
				.control-group
					label.control-label default_domain
					input(name='franchisor[default_domain]', type='text', value='#{franchisor.default_domain}',class="required").control
				hr
				.control-group
					label.control-label secure_domain
					input(name='franchisor[secure_domain]', type='text', value='#{franchisor.secure_domain}',class="required").control
				hr
				.control-group
					label.control-label tlc
					input(name='franchisor[tlc]', type='text', value='#{franchisor.tlc}',class="required").control
				hr
				.control-group
					label.control-label Email
					input(name='franchisor[email]', type='text', value='#{franchisor.email}' ,class="required email").control
				hr
				.control-group
					label.control-label Smtp
					input(name='franchisor[smtp]', type='text', value='#{franchisor.smtp}' ,class="required").control
				hr
				.control-group
					label.control-label Zona Horaria por Defecto
					input(name='franchisor[default_timezone]', type='text', value='#{franchisor.default_timezone}' ,class="required").control
				hr
				.control-group
					label.control-label Localizacion
					input(name='franchisor[locale]', type='text', value='#{franchisor.locale}' ,class="required").control
				hr
				.control-group
					label.control-label Lenguaje
					input(name='franchisor[language]', type='text', value='#{franchisor.language}' ,class="required").control
				hr
				.control-group
					label.control-label Fan Page
					input(name='franchisor[fanpage]', type='text', value='#{franchisor.fanpage}' ,class="required").control 
				hr
				.control-group
					input(type='submit', value='Guardar').btn.control