// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	-each franchisor in franchisors
		table.table.span5
			tr
				td	Nombre
				td	#{franchisor.name}
			tr
				td	Dominio por defecto
				td	#{franchisor.default_domain}
			tr
				td	Dominio seguro
				td	#{franchisor.secure_domain}
			tr
				td	cctdl
				td	#{franchisor.cctdl}
			tr
				td	Email
				td	#{franchisor.email}
			tr
				td	smtp
				td	#{franchisor.smtp}
			tr
				td	Zona Horaria
				td	#{franchisor.default_timezone}
			tr
				td	Lenguaje
				td	#{franchisor.language}
			tr
				td	FanPage
				td	#{franchisor.fanpage}
			tr
				td
					a(href='/intranet/franchisors/edit/' + franchisor._id.toString()) Editar 
			tr
				td
					a(href='/intranet/franchises/create/' + franchisor._id.toString()) Crear Franquicia 
		br
		br