// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		h3 Edicion de oferta
		.span5
			form(method='post', action='/deals/add').form-horizontal
				input(name='deal_id', type='hidden', value='#{deal._id}')
				.control-group
					label.control-label Titulo			
					input(name='deal[title]', type='text', value='#{deal.title}').control 
				.control-group
					label.control-label Tagline			
					input(name='deal[tagline]', type='text', value='#{deal.tagline}').control 
				.control-group
					label.control-label Slug			
					input(name='deal[slug]', type='text', value='#{deal.slug}').control 
				.control-group
					label.control-label Características			
					input(name='deal[characteristics]', type='text', value='#{deal.characteristics}').control 
				.control-group
					label.control-label Condiciones			
					input(name='deal[conditions]', type='text', value='#{deal.conditions}').control 
				.control-group
					label.control-label Precio			
					input(name='deal[price]', type='text', value='#{deal.price}').control 
				.control-group
					label.control-label Descuento			
					input(name='deal[discount]', type='text', value='#{deal.discount}').control
				.control-group
					label.control-label Precio especial			
					input(name='deal[special_price]', type='text', value='#{deal.special_price}').control 
				.control-group
					label.control-label Fecha de comienzo			
					input(name='deal[start_date]', type='date', value='#{deal.start_date}').control 
				.control-group
					label.control-label Fecha de fin			
					input(name='deal[end_date]', type='date', value='#{deal.end_date}').control
				.control-group
					label.control-label Inicio fecha de canje			
					input(name='deal[start_redeem]', type='date', value='#{deal.start_redeem}').control 
				.control-group
					label.control-label Fin fecha de canje			
					input(name='deal[end_redeem]', type='date', value='#{deal.end_redeem}').control 
				.control-group
					label.control-label Maximo de cupones			
					input(name='deal[max_coupons]', type='text', value='#{deal.max_coupons}').control 
				.control-group
					label.control-label Maximo de cupones por usuario			
					input(name='deal[max_coupons_by_user]', type='text', value='#{deal.max_coupons_by_user}').control 
				.control-group
					label.control-label Porcentaje para el vendedor			
					input(name='deal[seller_percentage]', type='text', value='#{deal.seller_percentage}').control
				.control-group
					label.control-label Porcentaje giombu			
					input(name='deal[giombu_percentage]', type='text', value='#{deal.giombu_percentage}').control 
				.control-group
					label.control-label  Porcentaje para promotor			
					input(name='deal[promoter_percentage]', type='text', value='#{deal.promoter_percentage}').control 
				.control-group
					label.control-label Estado			
					select(name='deal[status]').control
						option(value="draft") draft
						option(value="active") active
						option(value="closed") closed
				.control-group
					label.control-label Costo de envío			
					input(name='deal[shipping_cost]', type='text', value='#{deal.shipping_cost}').control 
			
				.control-group
					input(name='submit', type='submit').control Enviar
					br