// my-template.jade
extends ../layout

block content
	.content
		-each deal in deals
			table.table.span3
				tr
					td	title
					td	#{deal.title}
				tr
					td	tagline
					td	#{deal.tagline}
				tr
					td	slug
					td	#{deal.slug}
				tr
					td	characteristics
					td	#{deal.characteristics}
				tr
					td	conditions
					td	#{deal.conditions}
				tr
					td	price
					td	#{deal.price}
				tr
					td	special_price
					td	#{deal.special_price}
				tr
					td	discount
					td	#{deal.discount}
				tr
					td	start_date
					td	#{deal.start_date}
				tr
					td	end_date
					td	#{deal.end_date}
				tr
					td	start_redeem
					td	#{deal.start_redeem}
				tr
					td	end_redeem
					td	#{deal.end_redeem}
				tr
					td	max_coupons
					td	#{deal.max_coupons}
				tr
					td	max_coupons_by_user
					td	#{deal.max_coupons_by_user}
				tr
					td	seller_percentage
					td	#{deal.seller_percentage}
				tr
					td	giombu_percentage
					td	#{deal.giombu_percentage}
				tr
					td	promoter_percentage
					td	#{deal.promoter_percentage}
				tr
					td	status
					td	#{deal.status}
				tr
					td	shipping_cost
					td	#{deal.shipping_cost}
				tr
					td	store
					td	#{deal.store}
				tr
					td	seller
					td	#{deal.seller}
				tr
					td	franchisor
					td	#{deal.franchisor}
				tr
					td	franchise
					td	#{deal.franchise}
				tr
					td	currency
					td	#{deal.currency}
				tr
					td	images
					td	#{deal.images}
				tr
					td	created
					td	#{deal.created}
				tr
					td	modifiend
					td	#{deal.modifiend}
				tr
					td
						a(href='/deals/edit/' + deal._id.toString()) Editar 
				tr
					td
						a(href='/deals/remove/' + deal._id.toString()) Eliminar 
			br
			br