h1 #{title}
-each deal in deals
	table
		tr
			td	title
			td	#{title}
		tr
			td	tagline
			td	#{tagline}
		tr
			td	slug
			td	#{slug}
		tr
			td	characteristics
			td	#{characteristics}
		tr
			td	conditions
			td	#{conditions}
		tr
			td	price
			td	#{price}
		tr
			td	special_price
			td	#{special_price}
		tr
			td	discount
			td	#{discount}
		tr
			td	start_date
			td	#{start_date}
		tr
			td	end_date
			td	#{end_date}
		tr
			td	start_redeem
			td	#{start_redeem}
		tr
			td	end_redeem
			td	#{end_redeem}
		tr
			td	max_coupons
			td	#{max_coupons}
		tr
			td	max_coupons_by_user
			td	#{max_coupons_by_user}
		tr
			td	seller_percentage
			td	#{seller_percentage}
		tr
			td	giombu_percentage
			td	#{giombu_percentage}
		tr
			td	promoter_percentage
			td	#{promoter_percentage}
		tr
			td	status
			td	#{status}
		tr
			td	sale_count
			td	#{sale_count}
		tr
			td	coupon_count
			td	#{coupon_count}
		tr
			td	shipping_cost
			td	#{shipping_cost}
		tr
			td	store
			td	#{store}
		tr
			td	seller
			td	#{seller}
		tr
			td	franchisor
			td	#{franchisor}
		tr
			td	franchise
			td	#{franchise}
		tr
			td	currency
			td	#{currency}
		tr
			td	images
			td	#{images}
		tr
			td	created
			td	#{created}
		tr
			td	modifiend
			td	#{modifiend}