// my-template.jade
extends ../layout

block content
	.span8
		h2 Deal View
		table.table
			tr
				td	Titulo
				td	#{deal.title}
			tr
				td	Subtitulo
				td	#{deal.tagline}
			tr
				td	Link
				td	#{deal.slug}
			tr
				td	Caracteristicas
				td	#{deal.characteristics}
			tr
				td	Condiciones
				td	#{deal.conditions}
			tr
				td	Precio original
				td	#{deal.price}
			tr
				td	Precio Final
				td	#{deal.special_price}
			tr
				td	Descuento
				td	#{deal.discount}
			tr
				td	Fecha inicio de la oferta
				td	#{deal.start_date}
			tr
				td	Fecha fin de la oferta
				td	#{deal.end_date}
			tr
				td	Fecha inicio de canje
				td	#{deal.start_redeem}
			tr
				td	Fecha fin de canje
				td	#{deal.end_redeem}
			tr
				td	Cantidad maxima de Cupones
				td	#{deal.max_coupons}
			tr
				td	Cantidad maxima de Cupones por Usuario
				td	#{deal.max_coupons_by_user}
			tr
				td	Porcentaje Vendedor
				td	#{deal.seller_percentage}
			tr
				td	Porcentaje Giombu
				td	#{deal.giombu_percentage}
			tr
				td	Porcentaje Promotor
				td	#{deal.promoter_percentage}
			tr
				td	Estado
				td	#{deal.status}
			tr
				td	Costo de Envío
				td	#{deal.shipping_cost}
			tr
				td	Tienda
				td	#{deal.store}
			tr
				td	Vendedor
				td	#{deal.seller}
			tr
				td	Franquiciante
				td	#{deal.franchisor}
			tr
				td
					a(href='/deals/edit/' + deal._id.toString()) Editar 
			tr
				td
					a(href='/deals/remove/' + deal._id.toString()) Eliminar 
		br
		br

block options
	form(action="/images/save_image",id="uploadForm", method="post", enctype="multipart/form-data")
		input(type="file", id="userImageInput", name="image")
		input(type="button", id="sendCrop",value="Crop",disabled="disabled")
		input(type="submit", name="sulbmit")
		span(id="status")
		img(src="" , id="uploadedImage")

block dealimages
	-each image in deal.images 
		img(src="/images/"+image.filename , id="uploadedImage")
		.btn-group
			.btn 
				a( href='/image/hide/' + image._id.toString() ) Ocultar
			.btn 
				a( href='/intranet/deals/erase_image/'+deal._id.toString()+ '/' + image._id.toString() ) Borrar

