// my-template.jade
extends ../layout

block content
	.content
		.well
			.thumbnail
				img( src="/images/243_large_f4415b921f7e566042424fb70b1ba3a4.jpeg")
			.caption
				h3 #{deal.title}
				p #{deal.tagline}
				p Fecha de canje #{deal.start_redeem} Hasta #{deal.end_redeem}
		form(method='post', action='/sales/buy/#{deal._id}')
			.well
				table
					tr
						td
							span Precio:  $ #{deal.special_price}
						td
							label Cantidad: 
								select(name='quantity') 
									each item in list
										option(value='#{item}') #{item}
						td
							span.total-of-sale
						td
							input(type='submit', class="pull-right", value='Enviar')
				
